# generate your nextAuth secret key with: openssl rand -base64 32

# for the github token, you need to create a new OAuth app from your github settings
# https://github.com/settings/developers

# for the google id and secret, you need to create a new OAuth app from your google cloud console
# https://console.cloud.google.com/apis/credentials

# set the origins url to be the same as your NEXTAUTH_URL and add the callback url to be the same as your 
# github: NEXTAUTH_URL/api/auth/callback/github
# google: NEXTAUTH_URL/api/auth/callback/google

NEXTAUTH_URL=""
NEXTAUTH_SECRET=""

GITHUB_ID=""
GITHUB_TOKEN=""

GOOGLE_ID=""
GOOGLE_SECRET=""

DEVELOPMENT=true
